openapi: 3.1.0
info:
  title: Scorecard Metrics Projects API
  description: REST API for Scorecard
  version: 1.0.0
servers:
- url: https://api2.scorecard.io/api/v2
security:
- ApiKeyAuth: []
tags:
- name: Projects
paths:
  /projects:
    post:
      operationId: createProject
      summary: Create Project
      description: Create a new Project.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name of the Project.
                description:
                  type: string
                  description: The description of the Project.
              required:
              - name
              - description
            examples:
              Create a new project:
                value:
                  name: My Project
                  description: This is a test project
                summary: Create a new project
                description: Request to create a new project with a name and description.
      responses:
        '201':
          description: Project created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
              examples:
                Created project response:
                  value:
                    id: '314'
                    name: My Project
                    description: This is a test project
                  summary: Created project response
                  description: Response after successfully creating a project.
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '500':
          $ref: '#/components/responses/ServiceError'
      x-codeSamples:
      - lang: JavaScript
        source: "import Scorecard from 'scorecard-ai';\n\nconst client = new Scorecard({\n  apiKey: process.env['SCORECARD_API_KEY'], // This is the default and can be omitted\n});\n\nconst project = await client.projects.create({\n  description: 'This is a test project',\n  name: 'My Project',\n});\n\nconsole.log(project.id);"
      - lang: Python
        source: "import os\nfrom scorecard_ai import Scorecard\n\nclient = Scorecard(\n    api_key=os.environ.get(\"SCORECARD_API_KEY\"),  # This is the default and can be omitted\n)\nproject = client.projects.create(\n    description=\"This is a test project\",\n    name=\"My Project\",\n)\nprint(project.id)"
      - lang: cURL
        source: "curl https://api2.scorecard.io/api/v2/projects \\\n    -H 'Content-Type: application/json' \\\n    -H \"Authorization: Bearer $SCORECARD_API_KEY\" \\\n    -d '{\n          \"description\": \"This is a test project\",\n          \"name\": \"My Project\"\n        }'"
      tags:
      - Projects
    get:
      operationId: listProjects
      summary: List Projects
      description: Retrieve a paginated list of all Projects. Projects are ordered by creation date, with oldest Projects first.
      parameters:
      - in: query
        name: limit
        description: Maximum number of items to return (1-100). Use with `cursor` for pagination through large sets.
        schema:
          type: integer
          exclusiveMinimum: 0
          default: 20
          example: 20
      - in: query
        name: cursor
        description: Cursor for pagination. Pass the `nextCursor` from the previous response to get the next page of results.
        schema:
          type: string
          example: '123'
      responses:
        '200':
          description: Successfully retrieved list of Projects.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Project'
                  nextCursor:
                    type:
                    - string
                    - 'null'
                  hasMore:
                    type: boolean
                  total:
                    type: integer
                    minimum: 0
                required:
                - data
                - nextCursor
                - hasMore
              examples:
                Project list with pagination:
                  value:
                    data:
                    - id: '123'
                      name: Q&A Chatbot
                      description: Chatbot for answering questions about the company.
                    - id: '124'
                      name: Summarizer (Europe)
                      description: Summarizer for documents in the Europe region.
                    nextCursor: '125'
                    hasMore: true
                  summary: Project list with pagination
                  description: Example response showing a list of two Projects with pagination information.
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '500':
          $ref: '#/components/responses/ServiceError'
      x-codeSamples:
      - lang: JavaScript
        source: "import Scorecard from 'scorecard-ai';\n\nconst client = new Scorecard({\n  apiKey: process.env['SCORECARD_API_KEY'], // This is the default and can be omitted\n});\n\n// Automatically fetches more pages as needed.\nfor await (const project of client.projects.list()) {\n  console.log(project.id);\n}"
      - lang: Python
        source: "import os\nfrom scorecard_ai import Scorecard\n\nclient = Scorecard(\n    api_key=os.environ.get(\"SCORECARD_API_KEY\"),  # This is the default and can be omitted\n)\npage = client.projects.list()\npage = page.data[0]\nprint(page.id)"
      - lang: cURL
        source: "curl https://api2.scorecard.io/api/v2/projects \\\n    -H \"Authorization: Bearer $SCORECARD_API_KEY\""
      tags:
      - Projects
  /projects/{projectId}/testsets:
    get:
      operationId: listTestsets
      summary: List Testsets in Project
      description: Retrieve a paginated list of Testsets belonging to a Project.
      parameters:
      - in: path
        name: projectId
        description: The ID of the Project.
        schema:
          type: string
          example: '314'
        required: true
      - in: query
        name: limit
        description: Maximum number of items to return (1-100). Use with `cursor` for pagination through large sets.
        schema:
          type: integer
          exclusiveMinimum: 0
          default: 20
          example: 20
      - in: query
        name: cursor
        description: Cursor for pagination. Pass the `nextCursor` from the previous response to get the next page of results.
        schema:
          type: string
          example: '123'
      responses:
        '200':
          description: Successfully retrieved list of Testsets.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Testset'
                  nextCursor:
                    type:
                    - string
                    - 'null'
                  hasMore:
                    type: boolean
                  total:
                    type: integer
                    minimum: 0
                required:
                - data
                - nextCursor
                - hasMore
              examples:
                Testset list with fields:
                  value:
                    data:
                    - id: '246'
                      name: Long Context Q&A
                      description: Testset for long context Q&A chatbot.
                      jsonSchema:
                        type: object
                        properties:
                          question:
                            type: string
                          idealAnswer:
                            type: string
                          provenance:
                            type: string
                          geo:
                            type: string
                      fieldMapping:
                        inputs:
                        - question
                        expected:
                        - idealAnswer
                        metadata:
                        - provenance
                        - geo
                    nextCursor: '247'
                    hasMore: true
                  summary: Testset list with fields
                  description: Example response showing a paginated list of Testsets with schema and field mapping details.
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '500':
          $ref: '#/components/responses/ServiceError'
      x-codeSamples:
      - lang: JavaScript
        source: "import Scorecard from 'scorecard-ai';\n\nconst client = new Scorecard({\n  apiKey: process.env['SCORECARD_API_KEY'], // This is the default and can be omitted\n});\n\n// Automatically fetches more pages as needed.\nfor await (const testset of client.testsets.list('314')) {\n  console.log(testset.id);\n}"
      - lang: Python
        source: "import os\nfrom scorecard_ai import Scorecard\n\nclient = Scorecard(\n    api_key=os.environ.get(\"SCORECARD_API_KEY\"),  # This is the default and can be omitted\n)\npage = client.testsets.list(\n    project_id=\"314\",\n)\npage = page.data[0]\nprint(page.id)"
      - lang: cURL
        source: "curl https://api2.scorecard.io/api/v2/projects/$PROJECT_ID/testsets \\\n    -H \"Authorization: Bearer $SCORECARD_API_KEY\""
      tags:
      - Projects
    post:
      operationId: createTestset
      summary: Create Testset
      description: Create a new Testset for a Project. The Testset will be created in the Project specified in the path.
      parameters:
      - in: path
        name: projectId
        description: The ID of the Project to create the Testset in.
        schema:
          type: string
          example: '314'
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name of the Testset.
                description:
                  type: string
                  description: The description of the Testset.
                jsonSchema:
                  type: object
                  description: The JSON schema for each Testcase in the Testset.
                  additionalProperties: true
                fieldMapping:
                  type: object
                  properties:
                    inputs:
                      type: array
                      items:
                        type: string
                      description: Fields that represent inputs to the AI system.
                    expected:
                      type: array
                      items:
                        type: string
                      description: Fields that represent expected outputs.
                    metadata:
                      type: array
                      items:
                        type: string
                      description: Fields that are not inputs or expected outputs.
                  required:
                  - inputs
                  - expected
                  - metadata
                  description: Maps top-level keys of the Testcase schema to their roles (input/expected output). Unmapped fields are treated as metadata.
              required:
              - name
              - description
              - jsonSchema
              - fieldMapping
            examples:
              Create Q&A Testset:
                value:
                  name: Long Context Q&A
                  description: Testset for long context Q&A chatbot.
                  jsonSchema:
                    type: object
                    properties:
                      question:
                        type: string
                      idealAnswer:
                        type: string
                      provenance:
                        type: string
                      geo:
                        type: string
                  fieldMapping:
                    inputs:
                    - question
                    expected:
                    - idealAnswer
                    metadata: []
                summary: Create Q&A Testset
                description: Request to create a Testset for evaluating long context Q&A with fields for the question, ideal answer, and metadata like provenance and geographical context.
      responses:
        '201':
          description: Testset created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Testset'
              examples:
                Created Testset response:
                  value:
                    id: '246'
                    name: Long Context Q&A
                    description: Testset for long context Q&A chatbot.
                    jsonSchema:
                      type: object
                      properties:
                        question:
                          type: string
                        idealAnswer:
                          type: string
                        provenance:
                          type: string
                        geo:
                          type: string
                    fieldMapping:
                      inputs:
                      - question
                      expected:
                      - idealAnswer
                      metadata:
                      - provenance
                      - geo
                  summary: Created Testset response
                  description: Response after successfully creating a Testset, showing the assigned ID and complete schema with automatically populated field mappings.
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '500':
          $ref: '#/components/responses/ServiceError'
      x-codeSamples:
      - lang: JavaScript
        source: "import Scorecard from 'scorecard-ai';\n\nconst client = new Scorecard({\n  apiKey: process.env['SCORECARD_API_KEY'], // This is the default and can be omitted\n});\n\nconst testset = await client.testsets.create('314', {\n  description: 'Testset for long context Q&A chatbot.',\n  fieldMapping: {\n    inputs: ['question'],\n    expected: ['idealAnswer'],\n    metadata: [],\n  },\n  jsonSchema: {\n    type: 'object',\n    properties: {\n      question: { type: 'string' },\n      idealAnswer: { type: 'string' },\n      provenance: { type: 'string' },\n      geo: { type: 'string' },\n    },\n  },\n  name: 'Long Context Q&A',\n});\n\nconsole.log(testset.id);"
      - lang: Python
        source: "import os\nfrom scorecard_ai import Scorecard\n\nclient = Scorecard(\n    api_key=os.environ.get(\"SCORECARD_API_KEY\"),  # This is the default and can be omitted\n)\ntestset = client.testsets.create(\n    project_id=\"314\",\n    description=\"Testset for long context Q&A chatbot.\",\n    field_mapping={\n        \"inputs\": [\"question\"],\n        \"expected\": [\"idealAnswer\"],\n        \"metadata\": [],\n    },\n    json_schema={\n        \"type\": \"object\",\n        \"properties\": {\n            \"question\": {\n                \"type\": \"string\"\n            },\n            \"idealAnswer\": {\n                \"type\": \"string\"\n            },\n            \"provenance\": {\n                \"type\": \"string\"\n            },\n            \"geo\": {\n                \"type\": \"string\"\n            },\n        },\n    },\n    name=\"Long Context Q&A\",\n)\nprint(testset.id)"
      - lang: cURL
        source: "curl https://api2.scorecard.io/api/v2/projects/$PROJECT_ID/testsets \\\n    -H 'Content-Type: application/json' \\\n    -H \"Authorization: Bearer $SCORECARD_API_KEY\" \\\n    -d '{\n          \"description\": \"Testset for long context Q&A chatbot.\",\n          \"fieldMapping\": {\n            \"expected\": [\n              \"idealAnswer\"\n            ],\n            \"inputs\": [\n              \"question\"\n            ],\n            \"metadata\": [\n              \"string\"\n            ]\n          },\n          \"jsonSchema\": {\n            \"type\": \"bar\",\n            \"properties\": \"bar\"\n          },\n          \"name\": \"Long Context Q&A\"\n        }'"
      tags:
      - Projects
  /projects/{projectId}/metrics:
    get:
      operationId: listMetrics
      summary: List Metrics
      description: List Metrics configured for the specified Project. Metrics are returned in reverse chronological order.
      parameters:
      - in: path
        name: projectId
        description: The ID of the Project to list Metrics for.
        schema:
          type: string
          example: '314'
        required: true
      - in: query
        name: limit
        description: Maximum number of items to return (1-100). Use with `cursor` for pagination through large sets.
        schema:
          type: integer
          exclusiveMinimum: 0
          default: 20
          example: 20
      - in: query
        name: cursor
        description: Cursor for pagination. Pass the `nextCursor` from the previous response to get the next page of results.
        schema:
          type: string
          example: '123'
      responses:
        '200':
          description: Successfully retrieved Metrics.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Metric'
                  nextCursor:
                    type:
                    - string
                    - 'null'
                  hasMore:
                    type: boolean
                  total:
                    type: integer
                    minimum: 0
                required:
                - data
                - nextCursor
                - hasMore
              examples:
                List Metrics:
                  summary: List Metrics
                  description: Example response showing metrics with different evaluation and output types.
                  value:
                    data:
                    - id: '456'
                      name: Response Accuracy
                      description: Evaluates if the response is factually accurate
                      outputType: boolean
                      evalType: ai
                      guidelines: Check if the response contains factually correct information
                      promptTemplate: 'Please evaluate if the following response is factually accurate: {{response}}'
                      evalModelName: gpt-4o
                      temperature: 0.1
                    - id: '457'
                      name: Response Quality
                      description: Human review of quality
                      outputType: float
                      evalType: human
                      guidelines: Rate the coherence of the response (0-1).
                      passingThreshold: 0.8
                    nextCursor: null
                    hasMore: false
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '500':
          $ref: '#/components/responses/ServiceError'
      x-codeSamples:
      - lang: JavaScript
        source: "import Scorecard from 'scorecard-ai';\n\nconst client = new Scorecard({\n  apiKey: process.env['SCORECARD_API_KEY'], // This is the default and can be omitted\n});\n\n// Automatically fetches more pages as needed.\nfor await (const metric of client.metrics.list('314')) {\n  console.log(metric);\n}"
      - lang: Python
        source: "import os\nfrom scorecard_ai import Scorecard\n\nclient = Scorecard(\n    api_key=os.environ.get(\"SCORECARD_API_KEY\"),  # This is the default and can be omitted\n)\npage = client.metrics.list(\n    project_id=\"314\",\n)\npage = page.data[0]\nprint(page)"
      - lang: cURL
        source: "curl https://api2.scorecard.io/api/v2/projects/$PROJECT_ID/metrics \\\n    -H \"Authorization: Bearer $SCORECARD_API_KEY\""
      tags:
      - Projects
    post:
      operationId: createMetric
      summary: Create Metric
      description: Create a new Metric for evaluating system outputs. The structure of a metric depends on the evalType and outputType of the metric.
      parameters:
      - in: path
        name: projectId
        description: The ID of the Project to create the Metric in.
        schema:
          type: string
          example: '314'
        required: true
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
              - type: object
                properties:
                  name:
                    type: string
                    description: The name of the Metric.
                  description:
                    type:
                    - string
                    - 'null'
                    default: null
                    description: The description of the Metric.
                  evalType:
                    type: string
                    const: ai
                    description: AI-based evaluation type.
                  guidelines:
                    type: string
                    description: Guidelines for AI evaluation on how to score the metric.
                  promptTemplate:
                    type: string
                    description: The complete prompt template for AI evaluation. Should include placeholders for dynamic content.
                  evalModelName:
                    type: string
                    default: gpt-4o
                    description: The AI model to use for evaluation.
                  temperature:
                    type: number
                    minimum: 0
                    maximum: 2
                    default: 0
                    description: The temperature for AI evaluation (0-2).
                  outputType:
                    type: string
                    const: int
                    description: Integer output type.
                  passingThreshold:
                    type: integer
                    minimum: 1
                    maximum: 5
                    default: 4
                    description: The threshold for determining pass/fail from integer scores (1-5).
                required:
                - name
                - evalType
                - promptTemplate
                - outputType
                description: A Metric with AI evaluation and integer output.
                title: AI int metric
              - type: object
                properties:
                  name:
                    type: string
                    description: The name of the Metric.
                  description:
                    type:
                    - string
                    - 'null'
                    default: null
                    description: The description of the Metric.
                  evalType:
                    type: string
                    const: human
                    description: Human-based evaluation type.
                  guidelines:
                    type: string
                    description: Guidelines for human evaluators.
                  outputType:
                    type: string
                    const: int
                    description: Integer output type.
                  passingThreshold:
                    type: integer
                    minimum: 1
                    maximum: 5
                    default: 4
                    description: The threshold for determining pass/fail from integer scores (1-5).
                required:
                - name
                - evalType
                - outputType
                description: A Metric with human evaluation and integer output.
                title: Human int metric
              - type: object
                properties:
                  name:
                    type: string
                    description: The name of the Metric.
                  description:
                    type:
                    - string
                    - 'null'
                    default: null
                    description: The description of the Metric.
                  evalType:
                    type: string
                    const: heuristic
                    description: Heuristic-based evaluation type.
                  guidelines:
                    type: string
                    description: Guidelines for heuristic evaluation logic.
                  outputType:
                    type: string
                    const: int
                    description: Integer output type.
                  passingThreshold:
                    type: integer
                    minimum: 1
                    maximum: 5
                    default: 4
                    description: The threshold for determining pass/fail from integer scores (1-5).
                required:
                - name
                - evalType
                - outputType
                description: A Metric with heuristic evaluation and integer output.
                title: Heuristic int metric
              - type: object
                properties:
                  name:
                    type: string
                    description: The name of the Metric.
                  description:
                    type:
                    - string
                    - 'null'
                    default: null
                    description: The description of the Metric.
                  evalType:
                    type: string
                    const: ai
                    description: AI-based evaluation type.
                  guidelines:
                    type: string
                    description: Guidelines for AI evaluation on how to score the metric.
                  promptTemplate:
                    type: string
                    description: The complete prompt template for AI evaluation. Should include placeholders for dynamic content.
                  evalModelName:
                    type: string
                    default: gpt-4o
                    description: The AI model to use for evaluation.
                  temperature:
                    type: number
                    minimum: 0
                    maximum: 2
                    default: 0
                    description: The temperature for AI evaluation (0-2).
                  outputType:
                    type: string
                    const: float
                    description: Float output type (0-1).
                  passingThreshold:
                    type: number
                    minimum: 0
                    maximum: 1
                    default: 0.9
                    description: Threshold for determining pass/fail from float scores (0.0-1.0).
                required:
                - name
                - evalType
                - promptTemplate
                - outputType
                description: A Metric with AI evaluation and float output.
                title: AI float metric
              - type: object
                properties:
                  name:
                    type: string
                    description: The name of the Metric.
                  description:
                    type:
                    - string
                    - 'null'
                    default: null
                    description: The description of the Metric.
                  evalType:
                    type: string
                    const: human
                    description: Human-based evaluation type.
                  guidelines:
                    type: string
                    description: Guidelines for human evaluators.
                  outputType:
                    type: string
                    const: float
                    description: Float output type (0-1).
                  passingThreshold:
                    type: number
                    minimum: 0
                    maximum: 1
                    default: 0.9
                    description: Threshold for determining pass/fail from float scores (0.0-1.0).
                required:
                - name
                - evalType
                - outputType
                description: A Metric with human evaluation and float output.
                title: Human float metric
              - type: object
                properties:
                  name:
                    type: string
                    description: The name of the Metric.
                  description:
                    type:
                    - string
                    - 'null'
                    default: null
                    description: The description of the Metric.
                  evalType:
                    type: string
                    const: heuristic
                    description: Heuristic-based evaluation type.
                  guidelines:
                    type: string
                    description: Guidelines for heuristic evaluation logic.
                  outputType:
                    type: string
                    const: float
                    description: Float output type (0-1).
                  passingThreshold:
                    type: number
                    minimum: 0
                    maximum: 1
                    default: 0.9
                    description: Threshold for determining pass/fail from float scores (0.0-1.0).
                required:
                - name
                - evalType
                - outputType
                description: A Metric with heuristic evaluation and float output.
                title: Heuristic float metric
              - type: object
                properties:
                  name:
                    type: string
                    description: The name of the Metric.
                  description:
                    type:
                    - string
                    - 'null'
                    default: null
                    description: The description of the Metric.
                  evalType:
                    type: string
                    const: ai
                    description: AI-based evaluation type.
                  guidelines:
                    type: string
                    description: Guidelines for AI evaluation on how to score the metric.
                  promptTemplate:
                    type: string
                    description: The complete prompt template for AI evaluation. Should include placeholders for dynamic content.
                  evalModelName:
                    type: string
                    default: gpt-4o
                    description: The AI model to use for evaluation.
                  temperature:
                    type: number
                    minimum: 0
                    maximum: 2
                    default: 0
                    description: The temperature for AI evaluation (0-2).
                  outputType:
                    type: string
                    const: boolean
                    description: Boolean output type.
                required:
                - name
                - evalType
                - promptTemplate
                - outputType
                description: A Metric with AI evaluation and boolean output.
                title: AI boolean metric
              - type: object
                properties:
                  name:
                    type: string
                    description: The name of the Metric.
                  description:
                    type:
                    - string
                    - 'null'
                    default: null
                    description: The description of the Metric.
                  evalType:
                    type: string
                    const: human
                    description: Human-based evaluation type.
                  guidelines:
                    type: string
                    description: Guidelines for human evaluators.
                  outputType:
                    type: string
                    const: boolean
                    description: Boolean output type.
                required:
                - name
                - evalType
                - outputType
                description: A Metric with human evaluation and boolean output.
                title: Human boolean metric
              - type: object
                properties:
                  name:
                    type: string
                    description: The name of the Metric.
                  description:
                    type:
                    - string
                    - 'null'
                    default: null
                    description: The description of the Metric.
                  evalType:
                    type: string
                    const: heuristic
                    description: Heuristic-based evaluation type.
                  guidelines:
                    type: string
                    description: Guidelines for heuristic evaluation logic.
                  outputType:
                    type: string
                    const: boolean
                    description: Boolean output type.
                required:
                - name
                - evalType
                - outputType
                description: A Metric with heuristic evaluation and boolean output.
                title: Heuristic boolean metric
            examples:
              Create AI Metric:
                value:
                  name: Response Accuracy
                  description: Evaluates if the response is factually accurate
                  outputType: boolean
                  evalType: ai
                  guidelines: Check if the response contains factually correct information
                  promptTemplate: 'Please evaluate if the following response is factually accurate: {{outputs.response}}'
                  evalModelName: gpt-4o
                  temperature: 0.1
                summary: Created AI Metric
                description: Response after successfully creating an AI metric.
              Create Human Metric:
                value:
                  name: Response Quality
                  description: Human evaluation of response quality
                  outputType: int
                  evalType: human
                  guidelines: Rate the quality of the response on a scale of 1-5
                  passingThreshold: 3
                summary: Create Human Metric
                description: Request to create a human-evaluated metric with integer scoring.
              Create Heuristic Metric:
                value:
                  name: Response Length
                  description: Checks if response meets length requirements
                  outputType: boolean
                  evalType: heuristic
                  guidelines: Response should be between 50-200 characters
                summary: Create Heuristic Metric
                description: Request to create a rule-based metric that uses algorithmic validation.
              Create Simple Heuristic Metric:
                value:
                  name: Non-Empty Response
                  description: Checks if response is not empty
                  guidelines: Checks if response is not empty
                  outputType: boolean
                  evalType: heuristic
                summary: Create Simple Heuristic Metric
                description: Request to create a simple heuristic metric without guidelines.
      responses:
        '201':
          description: Metric created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metric'
              examples:
                Created AI Metric:
                  value:
                    id: '456'
                    name: Response Accuracy
                    description: Evaluates if the response is factually accurate
                    outputType: boolean
                    evalType: ai
                    guidelines: Check if the response contains factually correct information
                    promptTemplate: 'Please evaluate if the following response is factually accurate: {{response}}'
                    evalModelName: gpt-4o
                    temperature: 0.1
                  summary: Created AI Metric
                  description: Response after successfully creating an AI metric.
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '500':
          $ref: '#/components/responses/ServiceError'
      x-codeSamples:
      - lang: JavaScript
        source: "import Scorecard from 'scorecard-ai';\n\nconst client = new Scorecard({\n  apiKey: process.env['SCORECARD_API_KEY'], // This is the default and can be omitted\n});\n\nconst metric = await client.metrics.create('314', {\n  evalType: 'ai',\n  name: 'Response Accuracy',\n  outputType: 'boolean',\n  promptTemplate:\n    'Please evaluate if the following response is factually accurate: {{outputs.response}}',\n  description: 'Evaluates if the response is factually accurate',\n  evalModelName: 'gpt-4o',\n  guidelines: 'Check if the response contains factually correct information',\n  temperature: 0.1,\n});\n\nconsole.log(metric);"
      - lang: Python
        source: "import os\nfrom scorecard_ai import Scorecard\n\nclient = Scorecard(\n    api_key=os.environ.get(\"SCORECARD_API_KEY\"),  # This is the default and can be omitted\n)\nmetric = client.metrics.create(\n    project_id=\"314\",\n    eval_type=\"ai\",\n    name=\"Response Accuracy\",\n    output_type=\"boolean\",\n    prompt_template=\"Please evaluate if the following response is factually accurate: {{outputs.response}}\",\n    description=\"Evaluates if the response is factually accurate\",\n    eval_model_name=\"gpt-4o\",\n    guidelines=\"Check if the response contains factually correct information\",\n    temperature=0.1,\n)\nprint(metric)"
      - lang: cURL
        source: "curl https://api2.scorecard.io/api/v2/projects/$PROJECT_ID/metrics \\\n    -X POST \\\n    -H \"Authorization: Bearer $SCORECARD_API_KEY\""
      tags:
      - Projects
  /projects/{projectId}/runs:
    get:
      operationId: listRuns
      summary: List Runs
      description: Retrieve a paginated list of all Runs for a Project. Runs are ordered by creation date, most recent first.
      parameters:
      - in: path
        name: projectId
        description: The ID of the Run's Project.
        schema:
          type: string
          example: '314'
        required: true
      - in: query
        name: limit
        description: Maximum number of items to return (1-100). Use with `cursor` for pagination through large sets.
        schema:
          type: integer
          exclusiveMinimum: 0
          default: 20
          example: 20
      - in: query
        name: cursor
        description: Cursor for pagination. Pass the `nextCursor` from the previous response to get the next page of results.
        schema:
          type: string
          example: '123'
      responses:
        '200':
          description: Successfully retrieved list of runs.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Run'
                  nextCursor:
                    type:
                    - string
                    - 'null'
                  hasMore:
                    type: boolean
                  total:
                    type: integer
                    minimum: 0
                required:
                - data
                - nextCursor
                - hasMore
              examples:
                Run list with pagination:
                  value:
                    data:
                    - id: '135'
                      testsetId: '246'
                      systemId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                      systemVersionId: 87654321-4d3b-4ae4-8c7a-4b6e2a19ccf0
                      metricIds:
                      - '789'
                      - '101'
                      metricVersionIds:
                      - 87654321-4d3b-4ae4-8c7a-4b6e2a19ccf0
                      - 87654321-4d3b-4ae4-8c7a-4b6e2a19ccf1
                      numRecords: 10
                      numExpectedRecords: 10
                      numScores: 20
                      status: completed
                    - id: '136'
                      testsetId: null
                      systemId: null
                      systemVersionId: null
                      metricIds:
                      - '789'
                      metricVersionIds:
                      - 87654321-4d3b-4ae4-8c7a-4b6e2a19ccf0
                      numRecords: 5
                      numExpectedRecords: null
                      numScores: 3
                      status: running_scoring
                    nextCursor: 8fb15f74-2918-4982-a4fc-9c157f77dca8
                    hasMore: true
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '500':
          $ref: '#/components/responses/ServiceError'
      x-codeSamples:
      - lang: JavaScript
        source: "import Scorecard from 'scorecard-ai';\n\nconst client = new Scorecard({\n  apiKey: process.env['SCORECARD_API_KEY'], // This is the default and can be omitted\n});\n\n// Automatically fetches more pages as needed.\nfor await (const run of client.runs.list('314')) {\n  console.log(run.id);\n}"
      - lang: Python
        source: "import os\nfrom scorecard_ai import Scorecard\n\nclient = Scorecard(\n    api_key=os.environ.get(\"SCORECARD_API_KEY\"),  # This is the default and can be omitted\n)\npage = client.runs.list(\n    project_id=\"314\",\n)\npage = page.data[0]\nprint(page.id)"
      - lang: cURL
        source: "curl https://api2.scorecard.io/api/v2/projects/$PROJECT_ID/runs \\\n    -H \"Authorization: Bearer $SCORECARD_API_KEY\""
      tags:
      - Projects
    post:
      operationId: createRun
      summary: Create Run
      description: Create a new Run.
      parameters:
      - in: path
        name: projectId
        description: The ID of the Project.
        schema:
          type: string
          example: '314'
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                testsetId:
                  type:
                  - string
                  - 'null'
                  default: null
                  description: The ID of the Testset this Run is testing.
                systemVersionId:
                  type:
                  - string
                  - 'null'
                  format: uuid
                  description: The ID of the system version this Run is using.
                metricIds:
                  type: array
                  items:
                    type: string
                  description: The IDs of the metrics this Run is using.
              required:
              - metricIds
            examples:
              Create Run with a Testset:
                value:
                  testsetId: '246'
                  systemVersionId: 87654321-4d3b-4ae4-8c7a-4b6e2a19ccf0
                  metricIds:
                  - '789'
                  - '101'
                summary: Create Run with a Testset
                description: Request to create a Run with a Testset and metrics.
              Create Run without a Testset:
                value:
                  systemVersionId: 87654321-4d3b-4ae4-8c7a-4b6e2a19ccf0
                  metricIds:
                  - '789'
                summary: Create Run without a Testset
                description: Request to create a Run with metrics but no Testset.
      responses:
        '201':
          description: Run created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Run'
              examples:
                Created Run with Testset:
                  value:
                    id: '135'
                    testsetId: '246'
                    systemId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                    systemVersionId: 87654321-4d3b-4ae4-8c7a-4b6e2a19ccf0
                    metricIds:
                    - '789'
                    - '101'
                    metricVersionIds:
                    - 87654321-4d3b-4ae4-8c7a-4b6e2a19ccf0
                    - 87654321-4d3b-4ae4-8c7a-4b6e2a19ccf1
                    numRecords: 0
                    numExpectedRecords: 10
                    numScores: 0
                    status: awaiting_execution
                  summary: Created Run with Testset
                  description: Response after successfully creating a Run with a Testset.
                Created Run without Testset:
                  value:
                    id: '135'
                    systemId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                    systemVersionId: 87654321-4d3b-4ae4-8c7a-4b6e2a19ccf0
                    metricIds:
                    - '789'
                    metricVersionIds:
                    - 87654321-4d3b-4ae4-8c7a-4b6e2a19ccf0
                    numRecords: 0
                    numExpectedRecords: 0
                    numScores: 0
                    status: awaiting_execution
                  summary: Created Run without Testset
                  description: Response after successfully creating a Run without a Testset.
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '500':
          $ref: '#/components/responses/ServiceError'
      x-codeSamples:
      - lang: JavaScript
        source: "import Scorecard from 'scorecard-ai';\n\nconst client = new Scorecard({\n  apiKey: process.env['SCORECARD_API_KEY'], // This is the default and can be omitted\n});\n\nconst run = await client.runs.create('314', {\n  metricIds: ['789', '101'],\n  systemVersionId: '87654321-4d3b-4ae4-8c7a-4b6e2a19ccf0',\n  testsetId: '246',\n});\n\nconsole.log(run.id);"
      - lang: Python
        source: "import os\nfrom scorecard_ai import Scorecard\n\nclient = Scorecard(\n    api_key=os.environ.get(\"SCORECARD_API_KEY\"),  # This is the default and can be omitted\n)\nrun = client.runs.create(\n    project_id=\"314\",\n    metric_ids=[\"789\", \"101\"],\n    system_version_id=\"87654321-4d3b-4ae4-8c7a-4b6e2a19ccf0\",\n    testset_id=\"246\",\n)\nprint(run.id)"
      - lang: cURL
        source: "curl https://api2.scorecard.io/api/v2/projects/$PROJECT_ID/runs \\\n    -H 'Content-Type: application/json' \\\n    -H \"Authorization: Bearer $SCORECARD_API_KEY\" \\\n    -d '{\n          \"metricIds\": [\n            \"789\",\n            \"101\"\n          ],\n          \"systemVersionId\": \"87654321-4d3b-4ae4-8c7a-4b6e2a19ccf0\",\n          \"testsetId\": \"246\"\n        }'"
      tags:
      - Projects
  /projects/{projectId}/systems:
    get:
      operationId: listSystems
      summary: List systems
      description: Retrieve a paginated list of all systems. Systems are ordered by creation date.
      parameters:
      - in: path
        name: projectId
        description: The ID of the system's Project.
        schema:
          type: string
          example: '314'
        required: true
      - in: query
        name: limit
        description: Maximum number of items to return (1-100). Use with `cursor` for pagination through large sets.
        schema:
          type: integer
          exclusiveMinimum: 0
          default: 20
          example: 20
      - in: query
        name: cursor
        description: Cursor for pagination. Pass the `nextCursor` from the previous response to get the next page of results.
        schema:
          type: string
          example: eyJvZmZzZXQiOjAsInBhZ2VJZCI6ImNvZGUifQ
      responses:
        '200':
          description: Successfully retrieved list of systems.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/System'
                  nextCursor:
                    type:
                    - string
                    - 'null'
                  hasMore:
                    type: boolean
                  total:
                    type: integer
                    minimum: 0
                required:
                - data
                - nextCursor
                - hasMore
              examples:
                System list with pagination:
                  value:
                    data:
                    - id: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                      name: GPT-4 Chatbot
                      description: Production chatbot powered by GPT-4
                      productionVersion:
                        id: 87654321-4d3b-4ae4-8c7a-4b6e2a19ccf0
                        systemId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                        name: Version 2 (Low Temperature)
                        config:
                          temperature: 0.1
                          maxTokens: 1024
                      versions:
                      - id: 87654321-4d3b-4ae4-8c7a-4b6e2a19ccf0
                        name: Version 2 (Low Temperature)
                      - id: 87654321-4d3b-4ae4-8c7a-4b6e2a19ccf1
                        name: Version 1 (High Temperature)
                    - id: 8fb15f74-2918-4982-a4fc-9c157f77dca7
                      name: RAG System
                      description: Retrieval-augmented generation system for company knowledge base
                      productionVersion:
                        id: 87654321-4d3b-4ae4-8c7a-4b6e2a19ccf4
                        systemId: 8fb15f74-2918-4982-a4fc-9c157f77dca7
                        name: Best version
                        config:
                          top_k: 2
                          chunk_size: 512
                      versions:
                      - id: 87654321-4d3b-4ae4-8c7a-4b6e2a19ccf4
                        name: Best version
                    nextCursor: 8fb15f74-2918-4982-a4fc-9c157f77dca8
                    hasMore: true
                  summary: System list with pagination
                  description: Example response showing a paginated list of two systems.
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '500':
          $ref: '#/components/responses/ServiceError'
      x-codeSamples:
      - lang: JavaScript
        source: "import Scorecard from 'scorecard-ai';\n\nconst client = new Scorecard({\n  apiKey: process.env['SCORECARD_API_KEY'], // This is the default and can be omitted\n});\n\n// Automatically fetches more pages as needed.\nfor await (const system of client.systems.list('314')) {\n  console.log(system.id);\n}"
      - lang: Python
        source: "import os\nfrom scorecard_ai import Scorecard\n\nclient = Scorecard(\n    api_key=os.environ.get(\"SCORECARD_API_KEY\"),  # This is the default and can be omitted\n)\npage = client.systems.list(\n    project_id=\"314\",\n)\npage = page.data[0]\nprint(page.id)"
      - lang: cURL
        source: "curl https://api2.scorecard.io/api/v2/projects/$PROJECT_ID/systems \\\n    -H \"Authorization: Bearer $SCORECARD_API_KEY\""
      tags:
      - Projects
    post:
      operationId: upsertSystem
      summary: Create (upsert) system
      description: Create a new system. If one with the same name in the project exists, it updates it instead.
      parameters:
      - in: path
        name: projectId
        description: The ID of the system's Project.
        schema:
          type: string
          example: '314'
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  default: ''
                  description: The description of the system.
                name:
                  type: string
                  default: Default system
                  description: The name of the system. Should be unique within the project. Default is "Default system"
                config:
                  type: object
                  additionalProperties: true
                  description: The configuration of the system.
              required:
              - config
            examples:
              Create chatbot system:
                value:
                  name: GPT-4 Chatbot
                  description: Production chatbot powered by GPT-4
                  config:
                    temperature: 0.1
                    maxTokens: 1024
                summary: Create chatbot system
                description: Create a system for a GPT-4 powered chatbot.
              Create RAG system:
                value:
                  name: RAG System
                  description: Retrieval-augmented generation system for company knowledge base
                  config:
                    top_k: 5
                    chunk_size: 1024
                summary: Create RAG system
                description: Create a system for a retrieval-augmented generation system.
      responses:
        '201':
          description: System created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System'
              examples:
                Created system response:
                  value:
                    id: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                    name: GPT-4 Chatbot
                    description: Production chatbot powered by GPT-4
                    productionVersion:
                      id: 87654321-4d3b-4ae4-8c7a-4b6e2a19ccf0
                      systemId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                      name: Version 1
                      config:
                        temperature: 0.1
                        maxTokens: 1024
                    versions:
                    - id: 87654321-4d3b-4ae4-8c7a-4b6e2a19ccf0
                      name: Version 1
                  summary: Created system response
                  description: Response after successfully creating a system for a GPT-4 chatbot.
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '500':
          $ref: '#/components/responses/ServiceError'
      x-codeSamples:
      - lang: JavaScript
        source: "import Scorecard from 'scorecard-ai';\n\nconst client = new Scorecard({\n  apiKey: process.env['SCORECARD_API_KEY'], // This is the default and can be omitted\n});\n\nconst system = await client.systems.upsert('314', {\n  config: { temperature: 0.1, maxTokens: 1024 },\n  description: 'Production chatbot powered by GPT-4',\n  name: 'GPT-4 Chatbot',\n});\n\nconsole.log(system.id);"
      - lang: Python
        source: "import os\nfrom scorecard_ai import Scorecard\n\nclient = Scorecard(\n    api_key=os.environ.get(\"SCORECARD_API_KEY\"),  # This is the default and can be omitted\n)\nsystem = client.systems.upsert(\n    project_id=\"314\",\n    config={\n        \"temperature\": 0.1,\n        \"maxTokens\": 1024,\n    },\n    description=\"Production chatbot powered by GPT-4\",\n    name=\"GPT-4 Chatbot\",\n)\nprint(system.id)"
      - lang: cURL
        source: "curl https://api2.scorecard.io/api/v2/projects/$PROJECT_ID/systems \\\n    -H 'Content-Type: application/json' \\\n    -H \"Authorization: Bearer $SCORECARD_API_KEY\" \\\n    -d '{\n          \"config\": {\n            \"temperature\": \"bar\",\n            \"maxTokens\": \"bar\"\n          },\n          \"description\": \"Production chatbot powered by GPT-4\",\n          \"name\": \"GPT-4 Chatbot\"\n        }'"
      tags:
      - Projects
components:
  schemas:
    Run:
      type: object
      properties:
        id:
          type: string
          description: The ID of the Run.
        testsetId:
          type:
          - string
          - 'null'
          default: null
          description: The ID of the Testset this Run is testing.
        systemId:
          type:
          - string
          - 'null'
          format: uuid
          description: The ID of the system this Run is using.
        systemVersionId:
          type:
          - string
          - 'null'
          format: uuid
          description: The ID of the system version this Run is using.
        metricIds:
          type: array
          items:
            type: string
          description: The IDs of the metrics this Run is using.
        metricVersionIds:
          type: array
          items:
            type: string
            format: uuid
          description: The IDs of the metric versions this Run is using.
        numRecords:
          type: number
          description: The number of records in the Run.
        numExpectedRecords:
          type:
          - number
          - 'null'
          description: The number of expected records in the Run. Determined by the number of testcases in the Run's Testset at the time of Run creation.
        numScores:
          type: number
          description: The number of completed scores in the Run so far.
        status:
          type: string
          enum:
          - pending
          - awaiting_execution
          - running_execution
          - awaiting_scoring
          - running_scoring
          - awaiting_human_scoring
          - completed
          description: The status of the Run.
      required:
      - id
      - testsetId
      - systemId
      - systemVersionId
      - metricIds
      - metricVersionIds
      - numRecords
      - numExpectedRecords
      - numScores
      - status
      description: A Run in the Scorecard system.
    Metric:
      anyOf:
      - type: object
        properties:
          id:
            type: string
            description: The ID of the Metric.
          name:
            type: string
            description: The name of the Metric.
          description:
            type:
            - string
            - 'null'
            default: null
            description: The description of the Metric.
          evalType:
            type: string
            const: ai
            description: AI-based evaluation type.
          guidelines:
            type: string
            description: Guidelines for AI evaluation on how to score the metric.
          promptTemplate:
            type: string
            description: The complete prompt template for AI evaluation. Should include placeholders for dynamic content.
          evalModelName:
            type: string
            default: gpt-4o
            description: The AI model to use for evaluation.
          temperature:
            type: number
            minimum: 0
            maximum: 2
            default: 0
            description: The temperature for AI evaluation (0-2).
          outputType:
            type: string
            const: int
            description: Integer output type.
          passingThreshold:
            type: integer
            minimum: 1
            maximum: 5
            default: 4
            description: The threshold for determining pass/fail from integer scores (1-5).
        required:
        - id
        - name
        - description
        - evalType
        - guidelines
        - promptTemplate
        - evalModelName
        - temperature
        - outputType
        - passingThreshold
        description: A Metric with AI evaluation and integer output.
        title: AI int metric
      - type: object
        properties:
          id:
            type: string
            description: The ID of the Metric.
          name:
            type: string
            description: The name of the Metric.
          description:
            type:
            - string
            - 'null'
            default: null
            description: The description of the Metric.
          evalType:
            type: string
            const: human
            description: Human-based evaluation type.
          guidelines:
            type: string
            description: Guidelines for human evaluators.
          outputType:
            type: string
            const: int
            description: Integer output type.
          passingThreshold:
            type: integer
            minimum: 1
            maximum: 5
            default: 4
            description: The threshold for determining pass/fail from integer scores (1-5).
        required:
        - id
        - name
        - description
        - evalType
        - guidelines
        - outputType
        - passingThreshold
        description: A Metric with human evaluation and integer output.
        title: Human int metric
      - type: object
        properties:
          id:
            type: string
            description: The ID of the Metric.
          name:
            type: string
            description: The name of the Metric.
          description:
            type:
            - string
            - 'null'
            default: null
            description: The description of the Metric.
          evalType:
            type: string
            const: heuristic
            description: Heuristic-based evaluation type.
          guidelines:
            type: string
            description: Guidelines for heuristic evaluation logic.
          outputType:
            type: string
            const: int
            description: Integer output type.
          passingThreshold:
            type: integer
            minimum: 1
            maximum: 5
            default: 4
            description: The threshold for determining pass/fail from integer scores (1-5).
        required:
        - id
        - name
        - description
        - evalType
        - guidelines
        - outputType
        - passingThreshold
        description: A Metric with heuristic evaluation and integer output.
        title: Heuristic int metric
      - type: object
        properties:
          id:
            type: string
            description: The ID of the Metric.
          name:
            type: string
            description: The name of the Metric.
          description:
            type:
            - string
            - 'null'
            default: null
            description: The description of the Metric.
          evalType:
            type: string
            const: ai
            description: AI-based evaluation type.
          guidelines:
            type: string
            description: Guidelines for AI evaluation on how to score the metric.
          promptTemplate:
            type: string
            description: The complete prompt template for AI evaluation. Should include placeholders for dynamic content.
          evalModelName:
            type: string
            default: gpt-4o
            description: The AI model to use for evaluation.
          temperature:
            type: number
            minimum: 0
            maximum: 2
            default: 0
            description: The temperature for AI evaluation (0-2).
          outputType:
            type: string
            const: float
            description: Float output type (0-1).
          passingThreshold:
            type: number
            minimum: 0
            maximum: 1
            default: 0.9
            description: Threshold for determining pass/fail from float scores (0.0-1.0).
        required:
        - id
        - name
        - description
        - evalType
        - guidelines
        - promptTemplate
        - evalModelName
        - temperature
        - outputType
        - passingThreshold
        description: A Metric with AI evaluation and float output.
        title: AI float metric
      - type: object
        properties:
          id:
            type: string
            description: The ID of the Metric.
          name:
            type: string
            description: The name of the Metric.
          description:
            type:
            - string
            - 'null'
            default: null
            description: The description of the Metric.
          evalType:
            type: string
            const: human
            description: Human-based evaluation type.
          guidelines:
            type: string
            description: Guidelines for human evaluators.
          outputType:
            type: string
            const: float
            description: Float output type (0-1).
          passingThreshold:
            type: number
            minimum: 0
            maximum: 1
            default: 0.9
            description: Threshold for determining pass/fail from float scores (0.0-1.0).
        required:
        - id
        - name
        - description
        - evalType
        - guidelines
        - outputType
        - passingThreshold
        description: A Metric with human evaluation and float output.
        title: Human float metric
      - type: object
        properties:
          id:
            type: string
            description: The ID of the Metric.
          name:
            type: string
            description: The name of the Metric.
          description:
            type:
            - string
            - 'null'
            default: null
            description: The description of the Metric.
          evalType:
            type: string
            const: heuristic
            description: Heuristic-based evaluation type.
          guidelines:
            type: string
            description: Guidelines for heuristic evaluation logic.
          outputType:
            type: string
            const: float
            description: Float output type (0-1).
          passingThreshold:
            type: number
            minimum: 0
            maximum: 1
            default: 0.9
            description: Threshold for determining pass/fail from float scores (0.0-1.0).
        required:
        - id
        - name
        - description
        - evalType
        - guidelines
        - outputType
        - passingThreshold
        description: A Metric with heuristic evaluation and float output.
        title: Heuristic float metric
      - type: object
        properties:
          id:
            type: string
            description: The ID of the Metric.
          name:
            type: string
            description: The name of the Metric.
          description:
            type:
            - string
            - 'null'
            default: null
            description: The description of the Metric.
          evalType:
            type: string
            const: ai
            description: AI-based evaluation type.
          guidelines:
            type: string
            description: Guidelines for AI evaluation on how to score the metric.
          promptTemplate:
            type: string
            description: The complete prompt template for AI evaluation. Should include placeholders for dynamic content.
          evalModelName:
            type: string
            default: gpt-4o
            description: The AI model to use for evaluation.
          temperature:
            type: number
            minimum: 0
            maximum: 2
            default: 0
            description: The temperature for AI evaluation (0-2).
          outputType:
            type: string
            const: boolean
            description: Boolean output type.
        required:
        - id
        - name
        - description
        - evalType
        - guidelines
        - promptTemplate
        - evalModelName
        - temperature
        - outputType
        description: A Metric with AI evaluation and boolean output.
        title: AI boolean metric
      - type: object
        properties:
          id:
            type: string
            description: The ID of the Metric.
          name:
            type: string
            description: The name of the Metric.
          description:
            type:
            - string
            - 'null'
            default: null
            description: The description of the Metric.
          evalType:
            type: string
            const: human
            description: Human-based evaluation type.
          guidelines:
            type: string
            description: Guidelines for human evaluators.
          outputType:
            type: string
            const: boolean
            description: Boolean output type.
        required:
        - id
        - name
        - description
        - evalType
        - guidelines
        - outputType
        description: A Metric with human evaluation and boolean output.
        title: Human boolean metric
      - type: object
        properties:
          id:
            type: string
            description: The ID of the Metric.
          name:
            type: string
            description: The name of the Metric.
          description:
            type:
            - string
            - 'null'
            default: null
            description: The description of the Metric.
          evalType:
            type: string
            const: heuristic
            description: Heuristic-based evaluation type.
          guidelines:
            type: string
            description: Guidelines for heuristic evaluation logic.
          outputType:
            type: string
            const: boolean
            description: Boolean output type.
        required:
        - id
        - name
        - description
        - evalType
        - guidelines
        - outputType
        description: A Metric with heuristic evaluation and boolean output.
        title: Heuristic boolean metric
      description: A Metric defines how to evaluate system outputs against expected results.
    System:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The ID of the system.
        name:
          type: string
          description: The name of the system. Unique within the project.
        description:
          type: string
          default: ''
          description: The description of the system.
        productionVersion:
          $ref: '#/components/schemas/SystemVersion'
          description: The production version of the system.
        versions:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
                description: The ID of the system version.
              name:
                type: string
                description: The name of the system version.
            required:
            - id
            - name
            description: 'A SystemVersion defines the specific settings for a System Under Test.


              System versions contain parameter values that determine system behavior during evaluation.

              They are immutable snapshots - once created, they never change.


              When running evaluations, you reference a specific systemVersionId to establish which system version to test.'
          description: The versions of the system.
      required:
      - id
      - name
      - description
      - productionVersion
      - versions
      description: 'A System Under Test (SUT).


        Systems are templates - to run evaluations, pair them with a SystemVersion that provides specific

        parameter values.'
    SystemVersion:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The ID of the system version.
        systemId:
          type: string
          format: uuid
          description: The ID of the system the system version belongs to.
        name:
          type: string
          description: The name of the system version.
        config:
          type: object
          additionalProperties: true
          description: The configuration of the system version.
      required:
      - id
      - systemId
      - name
      - config
      description: 'A SystemVersion defines the specific settings for a System Under Test.


        System versions contain parameter values that determine system behavior during evaluation.

        They are immutable snapshots - once created, they never change.


        When running evaluations, you reference a specific systemVersionId to establish which system version to test.'
    Testset:
      type: object
      properties:
        id:
          type: string
          description: The ID of the Testset.
        name:
          type: string
          description: The name of the Testset.
        description:
          type: string
          description: The description of the Testset.
        jsonSchema:
          type: object
          description: The JSON schema for each Testcase in the Testset.
          additionalProperties: true
        fieldMapping:
          type: object
          properties:
            inputs:
              type: array
              items:
                type: string
              description: Fields that represent inputs to the AI system.
            expected:
              type: array
              items:
                type: string
              description: Fields that represent expected outputs.
            metadata:
              type: array
              items:
                type: string
              description: Fields that are not inputs or expected outputs.
          required:
          - inputs
          - expected
          - metadata
          description: Maps top-level keys of the Testcase schema to their roles (input/expected output). Unmapped fields are treated as metadata.
      required:
      - id
      - name
      - description
      - jsonSchema
      - fieldMapping
      description: 'A collection of Testcases that share the same schema.

        Each Testset defines the structure of its Testcases through a JSON schema.

        The `fieldMapping` object maps top-level keys of the Testcase schema to their roles (input/expected output).

        Fields not mentioned in the `fieldMapping` during creation or update are treated as metadata.


        ## JSON Schema validation constraints supported:


        - **Required fields** - Fields listed in the schema''s `required` array must be present in Testcases.

        - **Type validation** - Values must match the specified type (string, number, boolean, null, integer, object, array).

        - **Enum validation** - Values must be one of the options specified in the `enum` array.

        - **Object property validation** - Properties of objects must conform to their defined schemas.

        - **Array item validation** - Items in arrays must conform to the `items` schema.

        - **Logical composition** - Values must conform to at least one schema in the `anyOf` array.


        Testcases that fail validation will still be stored, but will include `validationErrors` detailing the issues.

        Extra fields in the Testcase data that are not in the schema will be stored but are ignored during validation.'
    Project:
      type: object
      properties:
        id:
          type: string
          description: The ID of the Project.
        name:
          type:
          - string
          - 'null'
          description: The name of the Project.
        description:
          type:
          - string
          - 'null'
          description: The description of the Project.
      required:
      - id
      - name
      - description
      description: A Project in the Scorecard system.
    ApiError:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: object
          additionalProperties: true
          x-stainless-any: true
      required:
      - code
      - message
      - details
      description: An API error.
  responses:
    ServiceError:
      description: An internal service error indicating an issue with the Scorecard service.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
          examples:
            Internal error:
              value:
                code: INTERNAL_ERROR
                message: An unexpected error occurred while processing your request.
                details: {}
              summary: Internal error
              description: Generic error when an unexpected internal issue occurs.
    UnauthenticatedError:
      description: Error indicating that the request is not authenticated.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
          examples:
            Authentication failure:
              value:
                code: UNAUTHORIZED
                message: Invalid or missing authentication token
                details: {}
              summary: Authentication failure
              description: Error returned when authentication credentials are invalid or missing.
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: starts with ak_
